* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Arial, sans-serif;
    transition: 0.4s ease;
}

/* Light Theme */
.light {
    background-color: white;
    color: black;
}

.light button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

/* Dark Theme */
.dark {
    background-color: #121212;
    color: white;
}

.dark button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}